{% extends 'banner.html.twig' %}
{% block content %}
  <div id="page-content-div">
    <br>
    <h2>Messages</h2>
    <br>
    <div class="row">
      <div class="column">
        <h3>Message list</h3>
        {{ error_message }}
        <select name="messagelist" size="20">
          {% for code, message in messages %}
            <option value="{{code}}">{{message}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="column">
        <h3>Message Content</h3>
        Test
      </div>
    </div>
    </form>
    <br>
    <br>
    <a href="index.php">Go Back</a>
  </div>
{% endblock %}