{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <br>
        <h2>{{ page_heading_2 }}</h2>
        <br>
        <div>
            M2M allows users to view the messages over the Simple Object Access Protocol
            <br>
            via the EE M2M Connect Service. It also lets users control switch, fan, keypad and temperature states.
            <br>
            <br>
            Use your M2M CONNECT Username and Password to view the messages.
            <br>
            <br>
            <a href="index.php">Go Back</a>
        </div>
{% endblock %}
